*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background: #292929;
}

body {
  color: #b3b3b3;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.link {
  color: #b9b8b8;
  font-size: 3rem;
  text-decoration: none;
  
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
    
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 38rem;
}

.card {
  background: #292929;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px 20px rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 38rem;
  height: 30rem;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  display: block;
  
}

.card__title {
  color: #b3b3b3;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}