
body {
  box-sizing: border-box;
  background: #292929;
  color: #b3b3b3;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content { 
  display: flex;
}

main {
  width: 34rem;
  margin: 33px auto;
  border: 3px solid#dbdbdb;
  border-radius: 15px;
  background: transparent;
}

h1 {
  padding-top: 1rem;
  color: #b9b8b8;
  font-size: 2rem;
  text-align: center;
  span {
    display: inline-block;
    width: 5.7rem;
    height: 5.7rem;
    font-size: 2.7em;
  }
}

.rules {
  margin-top: 33px;
  width: 29rem;
  height: 54rem;
  border: 3px solid #dbdbdb;
  border-radius: 15px;
  display: block;
  
}

.links {
  border: none; 
}

.link {
  color: #b9b8b8;
  font-size: 3rem;
  text-decoration: none
}

.list {
  padding-bottom: 5px;
  letter-spacing: 1px;
  line-height: 22px;
}

.grid {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
}

label {
  display: block;
  width: 5.7rem;
  height: 5.7rem;
  border: 3px solid #dbdbdb;
  border-radius: 15px;
  background: #9e9e9e;
  input {
    display: none;
    &:checked + .mark {
      background: transparent;
      color: #292929;
    }
  }

  .mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5.34rem; 
    height: 5.34rem;
    padding: .2rem;
    border-radius: 12px;
    background: #292929;
    font-size: .9em;
    text-align: center;
  }
}

small {
  display: block;
  padding: 0.8em;
  text-align: center;
}