
body {
  box-sizing: border-box;
  background: #292929;
  color: #b3b3b3;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content { 
  display: flex;
}

main {
  width: 34rem;
  margin: 33px auto;
  border: 3px solid#dbdbdb;
  border-radius: 15px;
  background: transparent;
}

h1 {
  padding-top: 1rem;
  color: #b9b8b8;
  font-size: 2rem;
  text-align: center;
  span {
    display: inline-block;
    width: 5.7rem;
    height: 5.7rem;
    font-size: 2.7em;
  }
}

.rules {
  margin-top: 33px;
  width: 29rem;
  height: 100%;
  border: 3px solid #dbdbdb;
  border-radius: 15px;
  display: block;
  
}

.links {
  border: none; 
  text-align: center;
}

.links__container {
  display: block;
  background: #292929;
  color: #b3b3b3;
  
  border-radius: 15px;
  text-align: center;
  margin-bottom: 15px;
  border: 3px solid  #dbdbdb;
}

.logo {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: grab;
}

.link {
  padding: 0 30px 0 30px;
  color: #b9b8b8;
  font-size: 2.5rem;
  text-decoration: none
}

.list {
  padding-bottom: 5px;
  letter-spacing: 1px;
  line-height: 22px;
}

.grid {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
}

.marked {
  background: #9e9e9e;
}

label {
  display: block;
  width: 5.7rem;
  height: 5.7rem;
  border: 3px solid #dbdbdb;
  border-radius: 15px;
  background: #9e9e9e;
  input {
    display: none;
    
  }

  .mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5.34rem; 
    height: 5.34rem;
    padding: .2rem;
    border-radius: 12px;
    background: #292929;
    font-size: .9em;
    text-align: center;
  }
}


small {
  display: block;
  padding: 0.8em;
  text-align: center;
}

.clip {
  text-decoration: none;
  color: #5bff7e;
  
}

.map {
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: center;
}

.kletka__karty {
  padding: 3px;
  width: 130px;
  height: 130px;
  border: 3px solid #dbdbdb;
  border-radius: 15px;
}

.kletka__info {
  text-align: center;
}
